<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id="ScalarTriangle" class="io.summer.Part2.Triangle">
        <property name="typeOfTriangle" value="Scalar"></property>
    </bean>

    <bean id="EquilateralTriangle" class="io.summer.Part2.Triangle">
        <property name="typeOfTriangle" value="Equilateral"></property>
    </bean>

</beans>